<div class="min-h-screen bg-slate-800 grid grid-cols-1 md:grid-cols-2">
  <div class="flex items-center">
    <div class="px-6 md:px-16 max-w-xl md:ml-12">
      <h1 class="text-3xl md:text-5xl font-light text-white leading-tight">
        Pysäköinninhallinta
      </h1>

      <p class="mt-6 text-lg text-slate-300">
        Demo, joka simuloi pysäköintihallin sisään- ja ulosajoportteja,
        sisältäen erillisen hallintanäkymän.
      </p>

      <div class="mt-8">
        <a
          routerLink="/parking"
          class="inline-flex items-center justify-center
                 rounded-lg bg-blue-600 px-6 py-3
                 text-base font-medium text-white
                 hover:bg-blue-700 transition"
        >
          Siirry pysäköintiin
        </a>
      </div>
    </div>
  </div>
  <div class="relative hidden lg:block">
    <img
      src="/assets/danny-lines-bn_LCUHG0pA-unsplash.jpg"
      alt="Photo by Danny Lines on Unsplash"
      class="absolute inset-0 h-full w-full object-cover"
    />
  </div>

</div>

